body {
	background-color: lightyellow;
	font-size: 24px;
}

h1 {
	background-color: #222;
	color: lightyellow;
	padding: 30px;
}

body > p {
	padding: 50px;
	line-height: 50px;
}

.food {
	width: 1366px;
	margin: 0 auto;
}

.food .product {
	float: left;
	margin: 10px;
	width: 300px;
	padding: 10px;
	height: 500px;
	text-align: center;
	background-color: #333;
	color: white;
}

.food .product img {
	width: 300px;
	height: 300px;
}

.food .product .name {
	font-size: 1.25em;
	font-weight: bold;
	font-style: italic;
}

.food .product .price {
	color: gold;
}