.gap,
.item-1,
.item-2,
.item-3 {
  margin: 10px;
  padding: 5px;
}
.font,
.item-1,
.item-2,
.item-3 {
  font-size: 24px;
  font-family: Arial;
  font-style: italic;
}
.hover,
.item-1:hover,
.item-2:hover,
.item-3:hover {
  background-color: #ffff33;
}
.item-1 {
  color: red;
}
.item-1:hover {
  color: white;
}
.item-2 {
  color: green;
}
.item-2:hover {
  color: lime;
}
.item-3 {
  color: skyblue;
}
.item-3:hover {
  color: purple;
}
