body {
  background-color: lightyellow;
  font-size: 24px;
}
.header {
  color: green;
  font-size: 20px;
}
.header .menu {
  color: blue;
}
.header .menu li {
  width: 200px;
  height: 200px;
  float: left;
}
.header .menu li a {
  color: lime;
}
.header .menu li a:hover {
  background-color: red;
}
img {
  float: left;
}
#info-1 {
  background-color: red;
}
#info-1 span {
  color: yellow;
  font-size: 20px;
  text-align: center;
}
#info-2 {
  background-color: green;
}
#info-2 span {
  color: red;
  font-size: 20px;
}
#info-3 {
  background-color: skyblue;
}
#info-3 span {
  color: black;
  font-size: 20px;
}
#info-4 {
  background-color: lime;
}
#info-4 span {
  color: blue;
  font-size: 20px;
}
#info-5 {
  background-color: black;
}
#info-5 span {
  color: white;
  font-size: 20px;
}
#info-6 {
  background-color: purple;
}
#info-6 span {
  color: salmon;
  font-size: 20px;
}
