.transform {	
	width: 300px;
	height: 300px;
	margin: 50px;
	font-size: 36px;
	padding: 20px;
}

.translate {
	background-color: lime;

	-webkit-transform: translate(50px, 50px);
	   -moz-transform: translate(50px, 50px);
		-ms-transform: translate(50px, 50px);
		 -o-transform: translate(50px, 50px);
			transform: translate(50px, 50px);
}

.skew {	
	background-color: skyblue;

	-webkit-transform: skew(30deg, 20deg);
	   -moz-transform: skew(30deg, 20deg);
		-ms-transform: skew(30deg, 20deg);
		 -o-transform: skew(30deg, 20deg);
			transform: skew(30deg, 20deg);
}

.rotate {	
	background-color: yellow;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		 -o-transform: rotate(45deg);
			transform: rotate(45deg);
}

.scale {	
	background-color: pink;
	position: relative;
	top: 500px;
	left: 500px;

	-webkit-transform: scale(2, 4);
	   -moz-transform: scale(2, 4);
		-ms-transform: scale(2, 4);
		 -o-transform: scale(2, 4);
			transform: scale(2, 4);
}



/*trt cria as web kit para nos no translate*/

/*translate = movimento*/

/*tr-sk no skew*/

/*trf no rotate*/

/*trf-sc no scale pegando a largura 2 e altura 4*/